<h1 class="text-center mt-4 mb-4">About ToDo App</h1>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facere porro ratione eaque voluptatibus autem sequi assumenda quo laborum fugit qui vero necessitatibus quia dignissimos, doloremque explicabo nulla eius cumque?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem et laudantium consequuntur maxime. Natus voluptates, sequi in illo libero voluptas ullam dignissimos vitae repellat inventore quod molestias facilis delectus.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
